#include <windows.h>

// application icon
1 ICON "icon.ico"

// version information
1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS VS_FF_DEBUG
#else
FILEFLAGS 0
#endif
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"  // US English, Unicode
        BEGIN
            VALUE "CompanyName", "mikosu"
            VALUE "FileDescription", "mikosu (based on neomod and McOsu)"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "InternalName", "mikosu"
            VALUE "LegalCopyright", "GPL-3.0; mikosu contributors, neomod contributors, McKay"
            VALUE "OriginalFilename", "mikosu.exe"
            VALUE "ProductName", "mikosu"
            VALUE "ProductVersion", "0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200  // US English, Unicode
    END
END

// application manifest
1 24 "mikosu.manifest"
